
<!-- <footer class="footer "> -->
    <div class="container-fluid" style="position:absolute; right:0%">
        <!-- <nav class="pull-left">
            <ul>
                <li>
                    <a >
                        Todo
                    </a>
                </li>
                <li>
                    <a>
                        About Us
                    </a>
                </li>
                <li>
                    <a >
                        Blog
                    </a>
                </li>
                <li>
                    <a >
                        Licenses
                    </a>
                </li>
            </ul>
        </nav> -->
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a  target="_blank"></a> CRM Pvt. Ltd.
        </div>
    </div>
<!-- </footer> -->
