<div style="display: flex;justify-content: center;">
  <div>
  <mat-form-field class="example-full-width width100" appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" [(ngModel)]="firstDate">
      <input matEndDate placeholder="End date" [(ngModel)]="endDate">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  </div>

  <div>
    <button (click)="filter()" style="margin-left: 20px;margin-top: 10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Filter
  </button>
  </div>
</div>

<br>
<hr>
<br>

<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>{{ title }}</h2>
      <svg id="test3" width="700" height="370"></svg>
      <!-- <svg width="340" height="270"></svg> -->
    </div>
    <!-- <div class="col-4">
        <app-bar-chart></app-bar-chart>
      </div>
      <div class="col-4">
        <app-donut-chart></app-donut-chart>
      </div>
      <div class="col-4">
        <app-multi-series-line-chart></app-multi-series-line-chart>
      </div>
      <div class="col-4">
        <app-stacked-bar-chart></app-stacked-bar-chart>
      </div>
      <div class="col-4">
        <app-brush-zoom></app-brush-zoom>
      </div> -->
  </div>
</div>